<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/test.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" />
   
</head>

<body>
    <header>
        <nav class="navbar navbar-default navbar-light navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow bg-dark mb-3">
            <div class="container">
                <a class="navbar-brand" style="color:white;" asp-area="" asp-page="/Index">
                    <img src="https://www.svgrepo.com/show/54359/logo.svg" intrinsicsize="500 x 500" width="50" height="50" srcset="https://www.svgrepo.com/show/54359/logo.svg">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>                                                                                                                                                                                                                                           
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Restaurants">Restaurants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/News">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/FAQ">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/About">About us</a>
                        </li>
                    </ul>
                        <ul class="">
                        <img srcset="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/344/external-cart-ecommerce-icongeek26-outline-gradient-icongeek26.png 2x" alt="icon" loading="lazy" style="width: 40px; height: 40px; margin-right: 15px; cursor: pointer">
                            
                        <button className="btn" type="button" style={{ cursor: "pointer" }}>
                                Log in
                            </button>

                            <button className="btn btn-md" type="button" style={{ cursor: "pointer" }}>
                                Sign up
                            </button>
                        </ul>
                </div>
            </div>
        </nav>

    </header>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  

    <footer class="footer">
        
        <div class="text-center text-light p-3">
            © 2022 Copyright:
            <a class="text-light" asp-area="" asp-page="/FAQ">All rights are preserved</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>