/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
/*.row {
    display: inline-block;
}*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;

}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    line-height: 60px;
    align-items: center;
}
video {
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
card {
    position: absolute;
    padding: 13px;
}
/*.about {
    margin-bottom: 15rem;
}*/
.container {
    width: auto;
    max-width: 1300px;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.display {
    opacity: 1 !important;
   
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.hidescroll {
    overflow: hidden !important;
}

::-webkit-scrollbar-thumb {
    background: rgb(62, 62, 62);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.image {
    top: 0;
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    z-index: -1;
    box-shadow: 5px 5px 5px 5px #e5e5e5;
  }
