@page
@model WebMenus.Pages.AboutModel
@{
    <h1>About us</h1>
    <div style={{ marginTop: 15rem , width: 100%, height: 10px }} class="about-scroll"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img alt="about" src="https://www.shareicon.net/data/256x256/2017/01/06/868274_group_512x512.png" />
            </div>
            <div class="col-md-6">
                    <p class="main-p text-center">
                    We want to make your time extraordinary! Your choice, we make it!</p>
            </div>
        </div>
    </div>
}
