@page
@model FAQModel
@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<div class="container">
<div class="row">
<div class="col-md-6">
<h3>Can I order online?</h3>
<h5> - Yes.</h5>
<br />
<h3>Where can I get the menu from?</h3>
<h5> - You can visit the Menu page.</h5>
<br />
<h3>Do I have to write my phone number and address for delivery?</h3>
<h5> - Yes, in order to get your order delivered and on time, we will need this billing information.</h5>
<br />
<h3>How long does it take to deliver an order?</h3>
<h5> - It can take from 10 - 30 minutes according to your location.</h5>
<br />
<h3>If I can't pay using my debit/credit card do I have to cancel the order?</h3>
<h5> - In our website there is an option to choose your payment method. If you are not sure you can pay either way, then yes, you can cancel the order.</h5>
<br />
<h3>Can I take my order from the restaurant?</h3>
<h5> - Yes, we offer takeway and delivery.</h5>
<br />
</div>
<div class="col-md-6">
<h3>Can I order for a certain period, instead immediate?</h3>
<h5> - Yes, our platform offers delivery in specific time and date.</h5>
<br />
<h3>Can somebody else get my order for me?</h3>
<h5> - Yes.</h5>
<br />
<h3>Can I get a discount?</h3>
<h5> - Yes, but only if the order contains a product that has a discount.</h5>
<br />
</div>
</div>
</div>