@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Carousel like -->
<subheader>
        <img src="https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="image my-3" style="width: 100%;">
</subheader>
<!-- End of Carousel like -->
<div class="text-center"></div>
    
    <div class="container my-3 d-flex justify-content-center">
    <div class="row">
            <div class="col-sm my-3">
    <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1630300727308-fe49b6ae8a62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Luxury Dish</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://www.lux-review.com/top-ten-most-luxurious-foods-in-the-world/" target="_blank" class="btn" >Learn more</a>
        </div>
    </div>
    </div>
            <div class="col-sm my-3">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1470256699805-a29e1b58598a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Best Chefs</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="https://trulyexperiences.com/blog/most-decorated-michelin-star-chefs/" target="_blank" class="btn">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm my-3">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1511795409834-ef04bbd61622?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Extraordinary Food</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="https://www.nhm.ac.uk/discover/eleven-extraordinary-foods-we-ll-be-eating-more-in-the-future.html" target="_blank" class="btn">Learn more</a>
                    </div>
                </div>
            </div>
        <!-- Designers and Staff -->
            <div class="container">
        <div class="row my-3 justify-content-center">
                    <div class="col-md-3 circle-one">
        <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
             data-holder-rendered="true">
             <h3 class="justify-content-center">Elizabeth Tanner</h3>
                        <h5 class="justify-content-center">Web Developer Manager</h5>
             </div>
                    <div class="col-md-3 circle-two">
        <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg"
             data-holder-rendered="true">
                        <h3 class="justify-content-center">David Johnson</h3>
                        <h5 class="justify-content-center">Restaurant Manager</h5>

             </div>
        <div class="col-md-3 circle-three">
        <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
             data-holder-rendered="true">
                        <h3 class="justify-content-center">Kate Morrison</h3>
                        <h5 class="justify-content-center">Chef Manager</h5>

             </div>
          </div>
          </div>
        <!-- End of Designers and Staff -->
</div>
</div>


