@page
@model WebMenus.Pages.MenuModel
 <style>
button {
    border-radius: 5px;
}

</style>
<script>
function Ordered() {
  alert("SUCCESSFUL ORDER!");
}

function Cart() {
  alert("SUCCESSFULLY ADDED TO CART!");
}
</script>
@{
    
    <h1>Menu</h1>
    <br />
       
    <h1> Sushi</h1>
    <div class="container d-flex justify-content-center">
                        <div class="row justify-content-center">
                            <div class="row">

                            <div class="col-sm my-3">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.unsplash.com/photo-1648146299011-2322d7ad577c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Hosomaki Sushi</h5>
                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm my-3">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.unsplash.com/photo-1579871494447-9811cf80d66c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Salmon Hosomaki Sushi</h5>
                                        <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm my-3">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.unsplash.com/photo-1590987337605-84f3ed4dc29f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Super Combo Sushi</h5>
                                        <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                    </div>
                                </div>
                              </div>
                              </div>
                              <div class="row">
                              <div class="col-sm my-3">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.unsplash.com/photo-1579551562441-049906a6e231?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Washimi Combo</h5>
                                        <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm my-3">
                                <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1617196034539-4fc935890ed8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Katarashi</h5>
                                        <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm my-3">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.unsplash.com/photo-1556845753-dc2253812a18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Hawaii Salmon Sushi</h5>
                                        <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                    </div>
                                </div>
                              </div>
                              </div>
                            <h1> Main Meal</h1>
                        <div class="row">
                            <div class="col-sm my-3">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.unsplash.com/photo-1574343635105-4cf2ea136b8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Veggie Burrito</h5>
                                        <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm my-3">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Pork Burger with Potatos</h5>
                                        <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm my-3">
                                <div class="card">
                                    <img class="card-img-top" src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Chicken Stake</h5>
                                       <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                    </div>
                                </div>
                              </div>
                              </div>
                            <div class="row">

                            <div class="col-sm my-3">
                                <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1539136788836-5699e78bfc75?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Salmon Stake with Broccolli</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                    </div>
                                </div>
                            </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1563379926898-05f4575a45d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Seafood Pasta with Shrimps</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                  <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1515041761709-f9fc96e04cd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                        <h5 class="card-title">Toast with Avocado</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>
                                </div>

                            <div class="row">

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1574071318508-1cdbab80d002?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Pizza Margarita</h5>
                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Cheese Pancakes</h5>
                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1562413255-16d008a3532b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">English Breakfast</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <br/>
                            <h1>Salads</h1>
                            <div class="row">

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Multivegetable Salad</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1511994714008-b6d68a8b32a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Bean Salad</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1543339318-b43dc53e19b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Caesar's Salad</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1599345570681-9d0f97335b8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Colorful Salad</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1523218507958-81785af4f6e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Flower Salad</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1549248287-f371a6246ea6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Citrus Salad</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <br/>
                            <h1>Desserts</h1>
                            <div class="row">

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1587314168485-3236d6710814?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=778&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Strawberry Pancakes</h5>
                                           <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1611329695518-1763319f3551?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=783&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Chocolate Muffin</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1551404973-761c83cd8339?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Rainbow Muffin - Colorful Topping</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1586195830864-e4d9688815c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Chocolate Popsicles</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1534766555764-ce878a5e3a2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Chocolate Cake</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1533134242443-d4fd215305ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Cheese Cake</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <br />
                            <h1>Drinks</h1>
                            <div class="row">

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1507281549113-040fcfef650e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Lemonade/Citronade</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Elder Drink</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1589733955941-5eeaf752f6dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Smoothie</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1551782450-3939704166fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Nonalchoholic Blue Lagoon</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1461023058943-07fcbe16d735?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Black/White Latte</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Coffee</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <br />
                            <h1>Bread and Sauces</h1>
                            <div class="row">

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1599940778173-e276d4acb2bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=855&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Croissant</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1586765501019-cbe3973ef8fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Stone Baked Bread</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1509440159596-0249088772ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Yeast Bread</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.unsplash.com/photo-1472476443507-c7a5948772fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Tomato Sauce</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://images.pexels.com/photos/13319171/pexels-photo-13319171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Chilli</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="http://cdn.shopify.com/s/files/1/0553/8765/2286/articles/j0fm0cuor23vikz135jf_1200x1200.jpg?v=1619199760" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">BBQ Sauce</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5MPaYsemXpYjP2aqQYW9NUlJYXrGUj8oNqw&usqp=CAU" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Burger Sauce</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://assets.epicurious.com/photos/561fc9ce53de6d0d5cdef3c8/master/pass/soy-sauce.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Soy Sauce</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm my-3">
                                    <div class="card">
                                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcHutH3X6YG8D9nRGwOwJhctoZBSfUx_6cYA&usqp=CAU" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Mayonaise</h5>
                                            <button onclick="Cart()" value="cart">Add to cart</button>
                            <button onclick="Ordered()" value="Order now">Order now</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            </div>

    </div>
}
