@page
@model WebMenus.Pages.RestaurantsModel

@{
    <h1>Restaurants</h1>
    <div class="container d-flex justify-content-center">
        <div class="row">
        <div class="col-sm my-3">
                <div class="card" >
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Restaurant Fish & Chips</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm my-3">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1579871494447-9811cf80d66c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Sushi Bar & Dinner</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
             </div>

            <div class="col-sm my-3">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1552590635-27c2c2128abf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Traditional Food</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
             </div>
        </div>
    </div>


}
